<ion-header>
  <ion-toolbar>
    <ion-title
      >User :
      <span *ngIf="loggedInUser | async let user;"
        >{{ user.name }}</span
      ></ion-title
    >
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateNewProduct()">New Product</ion-button>
      <ion-button>Abouts</ion-button>
      <ion-button *ngIf="loggedInUser | async" (click)="onSignOut()"
        >Sign Out</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset-sm="2">
        <div>
          <p>sorting</p>
          <div>
            <ion-button (click)="onShotAllProduct()">all</ion-button>
            <ion-button (click)="onShowRecommended()">recommended</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="products | async; let products">
      <ion-col size="8" offset-sm="2">
        <ion-list>
          <ion-list-header>
            <ion-title>Product List</ion-title>
          </ion-list-header>
          <app-list-item
            *ngFor="let product of products"
            [product]="product"
          ></app-list-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!products | async">
      <ion-col>
        <h1>No Item</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
