<ion-menu [side]="menu.side" [contentId]="menu.contentId" [menuId]="menu.menuId">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="logo-font">
        Deprecision.CO
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="onProductCreate()">
        <ion-label>
          Products
        </ion-label>
      </ion-item>
      <ion-item button>
        <ion-label>
          Document and Guide
        </ion-label>
      </ion-item>
      <ion-item button routerLink="/contactus">
        <ion-label>
          Contact Us
        </ion-label>
      </ion-item>
      <ion-item button>
        <ion-label>
          About
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
